.rotateInwards {
    animation: rotateInwardsAnimation 750ms normal linear;
}
@keyframes rotateInwardsAnimation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.rotateOutwards {
    animation: rotateOutwardsAnimation 500ms normal linear;
}
@keyframes rotateOutwardsAnimation {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
