.create-form {
    position: fixed;
    top: 5%;
    margin: 0;
    width: 40%;
    height: 85%;
    overflow: scroll;
    z-index: 5;
    border: 1px solid gray;
    border-radius: 10px;
    visibility: hidden;
    background: white;
    &.active {
        visibility: visible !important;
    }
    &.mobile {
        width: 90%;
        height: 90%;
    }
}
