.noscroll { overflow: hidden; }

.create-form {
    // touch-action: none;
    position: fixed;
    top: 5%;
    margin: 0;
    left: 35%;
    top: 7.5%;
    width: 30%;
    height: 70%;
    overflow: auto;
    z-index: 5;
    border: 1px solid gray;
    border-radius: 10px;
    visibility: hidden;
    background: white;

    &.active {
        visibility: visible !important;
    }
    &.mobile {
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
}
