.create-form {
    position: fixed;
    top: 5%;
    margin: 0;
    width: 60%;
    height: 85%;
    z-index: 5;
    border: 5px solid black;
    border-radius: 10px;
    visibility: hidden;
    background: white;
    &.active {
        visibility: visible !important;
    }
    &.mobile {
        width: 90%;
        height: 75%;
    }
}